.navbar {
    max-height: 46px;
}
.navbar-brand {
    font-size: 30px ;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: right;
    position: fixed;
    right: 20%;
    font-size: 18px;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}

ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    font-size: 13px;
    display: block;
    padding: 10px;
    color: white;
    background-color: #888888;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.buttons{
    text-align: center;
}
button{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 16px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow:
            inset 0 1px rgba(101,114,126,1),
            inset 0 0 1px rgba(140,150,170,.8),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}
button:active {
    box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}
button:focus:not(:active) {
    border: 1px solid rgb(22,32,43);
    border-bottom: 1px solid rgb(25,34,45);
    background: rgb(53,61,71);
    box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
    pointer-events: none;
}
textarea {
    max-width: 100%;
    width: 100em;
    outline: none;
    -moz-appearance: none;
    border-radius: 6px;
    border: 3px solid #737373;
    resize: none;
}
.signOutSubmenu {
    font-size: 80%;
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(101, 101, 101, 0.2);
    text-decoration: none;
}
.signOutSubmenu:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.divTextaria {
    width: 100%;
    max-width: 100%;
}
.divSelect {
    width: 20%;
    max-width: 20%;
}
.selectedDate {
    width: 20%;
}
#periodic_table {
    display: none;
    position: fixed;
    transform: translate(-50%,-50%);
    left:50%;
    top: 50%;
    width: 70%;
    z-index: 10001;
}
#periodic_table > div {
    margin-bottom: 2.5%;
}
#periodic_table > div > div {
    width: 5.5%;
    height: 0;
    display: inline-block;
    margin-right: -7px;
}
#periodic_table > div > div > div {
    cursor: pointer;
    line-height: 100%;
    color: black;
    border: 3px solid black;
    text-align: center;
    font-weight: bold;
    font-family: "Arial Black";
    margin-top: -3px;
    width: 100%;
    height: 0;
    padding: 40% 0 54% 0;
}
#periodic_table > div > div > div:hover {
    filter: brightness(0.8);
}
.selectElement {
    user-select: none;
}
#selectElement-input {
    display: none;
}
.selectElement label {
    display: inline-block;
    margin-top: 6%;
    outline: none;
}
#selectElement-input:checked ~ #periodic_table {
    display: block;
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
#selectElement-input:checked ~ .filter {
    display: block;
    animation-name: appear-50;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
@keyframes appear-50 {
    from {
        opacity: 0;
    }
    to {
        opacity: 50%;
    }
}
@keyframes disappear {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}
.filter {
    display: none;
    position: fixed;
    z-index: 10000;
    transition: 1s all;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.selectedElement {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-family: "Arial Black";
    font-size: 15px;
    text-align: center;
    outline: none;
    border-width: 0;
}
.black-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow: inset 0 1px rgba(101,114,126,1), inset 0 0 1px rgba(140,150,170,.8), 0 1px rgb(83,94,104), 0 0 1px rgb(86,96,106);
}
.s > div {
    background-color: #b99;
}
.p > div {
    background-color: #bb9;
}
.d > div {
    background-color: #99c;
}
.f > div > div {
    background-color: #9c9;
}
.vertical-align {
    vertical-align: middle;
}
@media screen and (max-width: 800px) {
    #periodic_table {
        width: 100%;
        margin-left: 5%;
    }
}