
.navbar {
    max-height: 46px;
}
.navbar-brand {
    font-size: 30px ;
}
.navbar-cabinet {
    min-width: 20%;
    color: #eeeeee;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: right;
    position: fixed;
    right: 20%;
    font-size: 18px;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: rgba(101, 101, 101, 0.2);
    border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    font-size: 80%;
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(101, 101, 101, 0.2);
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.buttons{
    text-align: center;
}

.startButtons{
    position: absolute;
    right: 10%;
    top: 11px;
    bottom: auto;
    min-width: 20%;
}

.signInButton{
    font-size: 130%; /*Font size*/
    font-weight: normal; /* Bold face */
    text-decoration: none;
    color: lightgray;
}

.signInButton:hover{
    text-decoration: none;
    color: white;
}

.increaseDistance {
    margin-right: 7%;
}

.signOutSubmenu {
    font-size: 80%;
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(101, 101, 101, 0.2);
    text-decoration: none;
}

.signOutSubmenu:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}


.successMessage {
    width:100%;
    margin-top: -10px;
    background-color: #4cae4c;
    color: white;
    animation-timing-function: linear;
}